<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="magicAnime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="magicAnime.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <magicAnime.Properties.Settings>
            <setting name="captureFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="captureMergin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="encoderFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="encodedFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="captureSubDir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="captureExtension" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="prohibitUpdateWhileRecording" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="removeSourceWhenEncoded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveFolder" serializeAs="String">
                <value/>
            </setting>
            <setting name="classificatePrograms" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saveNameFormat" serializeAs="String">
                <value>{0:0} 第{1:00}話 「{2:0}」</value>
            </setting>
            <setting name="scheduleFirstHour" serializeAs="String">
                <value>23</value>
            </setting>
            <setting name="scheduleTimeZone" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="scheduleEncodeEveryday" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="scheduleEncodeTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoShutdownAtEncoded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoShutdownType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="minimizeAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minimizeAtPlayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="syoboiTitleList" serializeAs="String">
                <value>http://cal.syoboi.jp/list.php</value>
            </setting>
            <setting name="syoboiTid" serializeAs="String">
                <value>http://cal.syoboi.jp/tid/</value>
            </setting>
            <setting name="reserveStart" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="reserveEnd" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bootupTimeUnification" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="autoPowerManagement" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="shutdownMethod" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="bootupHasten" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="shutdownPutoff" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="schedulerType" serializeAs="String">
                <value/>
            </setting>
            <setting name="autoRefresh" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoRefreshMinute" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="inTaskTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="firstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="syoboiRss" serializeAs="String">
                <value>http://cal.syoboi.jp/rss.php</value>
            </setting>
            <setting name="syoboiProg" serializeAs="String">
                <value>http://cal.syoboi.jp/proginfo.xml</value>
            </setting>
            <setting name="hideRefreshDialog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="notifyUnreadBalloon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="dayPast" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="dayFuture" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="weekPast" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="weekFuture" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="viewMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="calenderMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="specifiedFile" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="thumbnailWidth" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="thumbnailHeight" serializeAs="String">
                <value>45</value>
            </setting>
            <setting name="thumbnailSubtitle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="thumbnailSecond" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="thumbnailSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="updateInterval" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="forbiddenThumbnail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bootRefresh" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ignoreExist" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="copyWithOthers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="removeSubdir" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoTransferAtBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoTransferAtAfterRecord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoTransferTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="hoursPerDay" serializeAs="String">
                <value>27</value>
            </setting>
            <setting name="maximizeWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="strExtension" serializeAs="String">
                <value>.mpg</value>
            </setting>
            <setting name="autoMoveWithoutFirstEpisode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="reserveDays" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="autoEncodeInAfterRecord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoEncodeMergin" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="showSoonBalloon" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeSoonBalloon" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="concurrentNums" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="makeThumbnailAfterEncode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="startupWait" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MigrateVer1900" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="dontBeginEncodeLessThanMinutes" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="maxDelayTimeDontBeginEncode" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="autoBootup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="autoShutdown" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="reserveControl" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="reserveImmediatlyBeforeMinutes" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="autoBootNDays" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="overlapThreshould" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="productVersion" serializeAs="String">
              <value></value>
            </setting>
            <setting name="thumbnailMode" serializeAs="String">
              <value>False</value>
            </setting>
          <setting name="fileTitleMode" serializeAs="String">
            <value>1</value>
          </setting>
        </magicAnime.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <magicAnime.Properties.Settings>
            <setting name="helpUrl" serializeAs="String">
                <value>http://members2.jcom.home.ne.jp/kurusugawa/mAgicAnime/</value>
            </setting>
            <setting name="specifiedNameFormat" serializeAs="String">
                <value>A{0:0}_{1:0}</value>
            </setting>
            <setting name="thumbnailWhitebar" serializeAs="String">
                <value>13</value>
            </setting>
        </magicAnime.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
